

/*body {*/
    /*background-color: #ffeaa7;*/
/*}*/

/*.container-baloon {*/
    /*height: auto;*/
    /*background-color: #ffeaa7;*/
/*}*/

.ballon-image {
    width: 160px;
    height: 250px;
    margin-top: 50px;

}

